body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.keyboard-keys{
  color: black;
  font-size: 1.2rem;
  border-radius: 4px;
  border: none;
  height:52px;
  min-width:2.2rem;
  font-weight:bold;
  background-color: #dadce3;
  margin:3px;
  display: inline-block;
  vertical-align:top; 
}
.enter-delete{
  font-size:.9rem;
}
.line{
  display:block;
  
}

 .keyboard-line{
  display:flex;
  width: 100%;
  float:left;
} 
.letter-tiles{
  color: black;
  margin: 3px;
  font-size:1.75rem;
  font-weight: bold;
  text-align: center;
  line-height: 49px;
  height: 52px;
  width: 52px;
  display: inline-block;
  border: 2px solid lightgray;
  vertical-align:top; 
}
.holder-lines{
  margin-top: 8px;
  margin-bottom: px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: auto;
  white-space: nowrap;
}
.holder-keyboard{
  margin-top: 8px;
  margin-bottom: px;
  display: flex;
  width:100%;
  align-items: center;
  align-self: center;
  flex-direction: column;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom:30px;
}
nav{
  margin:auto;
  padding-top: 6px; 
  padding-bottom:6px;
  margin-bottom: 8px;
  text-align: center;
  border-bottom: solid lightgrey 1px;
}
.nav-center{
  color: black;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.8rem;

}


@media screen and (min-width: 401px) and (max-width: 500px) {
  .keyboard-keys {
    font-size: 1.1rem;
    border-radius: 4px;
    border: none;
    max-width:30px;
    height:52px;
    margin:2px;
    color: rgb(190, 0, 174);
    font-weight:bold;
    background-color: #dadce3;
    display: inline-block;
    vertical-align:top; 
  }
  .enter-delete{
    font-size:0.7rem;
    max-width: none;
  }
  .letter-tiles{
    font-size:1.5rem;
    line-height: 46px;
    margin:2px;
    height: 48px;
    width: 48px;
    color: black;
    margin: 3px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    border: 2px solid lightgray;
    vertical-align:top; 
  }
  .nav-center{
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 400px) {
  .letter-tiles{
    margin: 2px;
    font-size:1.1rem;
    font-weight: bold;
    text-align: center;
    line-height: 33px;
    height: 35px;
    width: 35px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    border: 2px solid lightgray;
    vertical-align:top; 
  }
  .keyboard-keys {
    font-size: .9rem;
  border-radius: 4px;
  border: none;
  height:42px;
  max-width:25px;
  margin:1px;
  color: blue;
  font-weight:bold;
  background-color: #dadce3;
  display: inline-block;
  vertical-align:top; 
  }
  .enter-delete{
    font-size:0.5rem;
    max-width: none;
  }
  .nav-center{
    font-size: 1.4rem;
  }

}

.del{
max-width: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}